@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-out {
  animation: slideOut 2s forwards;
}

.slide-in {
  animation: slideIn 2s forwards;
}
