.fc-header-toolbar {
  width: 100% !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 15px !important; /* Adjust padding for more space */
  background-color: #fff !important;
}

.fc-toolbar-chunk {
  display: flex;
  align-items: center;
}

.fc-toolbar-title {
  font-size: 16px !important; /* Increase title font size */
  width: 200px !important;
  font-weight: bold !important; /* Make title bold */
  padding: 0 20px !important; /* Adjust padding */
  align-items: center;
  text-align: center;
}

.fc-button {
  font-size: 16px !important;
  color: #000 !important;
  background-color: #f0f0f0 !important;
  border: #fff !important;
}

.fc-today-button {
  background-image: linear-gradient(
    90deg,
    #ffc163 0%,
    #fd7427 42.5%,
    #e54a5f 100%
  ) !important;
  color: #fff !important;
}

.fc-today-button:active {
  background-image: linear-gradient(
    90deg,
    #fd7427 0%,
    #e54a5f 42.5%,
    #ffc163 100%
  ) !important;
  color: #fff !important;
}

.fc-today-button:disabled {
  background-image: linear-gradient(
    90deg,
    #d3d3d3 0%,
    #a9a9a9 42.5%,
    #808080 100%
  ) !important;
  color: #ccc !important;
}

.fc-button-active {
  background-color: #fd7427 !important;
  color: #fff !important;
}

.fc-view-harness {
  overflow: visible !important; /* Ensure full calendar detail is always visible */
}
