.fc-header-toolbar {
  width: 100% !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 10px !important;
  background-color: #fff !important;
}

.fc-toolbar-chunk {
  display: flex;
  align-items: center;
}

.fc-toolbar-title {
  font-size: 1rem !important;
  width: auto !important;
  font-weight: bold !important;
  padding: 0 10px !important;
  align-items: center;
  text-align: center;
}

.fc-button {
  font-size: 1rem !important;
  color: #000 !important;
  background-color: #f0f0f0 !important;
  border: #fff !important;
  padding: 5px 10px !important; /* Add padding for better touch targets */
  border-radius: 5px !important; /* Rounded corners for buttons */
}

.fc-today-button {
  background-image: linear-gradient(
    90deg,
    #ffc163 0%,
    #fd7427 42.5%,
    #e54a5f 100%
  ) !important;
  color: #fff !important;
}

.fc-today-button:active {
  background-image: linear-gradient(
    90deg,
    #fd7427 0%,
    #e54a5f 42.5%,
    #ffc163 100%
  ) !important;
  color: #fff !important;
}

.fc-today-button:disabled {
  background-image: linear-gradient(
    90deg,
    #d3d3d3 0%,
    #a9a9a9 42.5%,
    #808080 100%
  ) !important;
  color: #ccc !important;
}

.fc-button-active {
  background-color: #fd7427 !important;
  color: #fff !important;
}

.fc-view-harness {
  overflow: visible !important;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .fc-toolbar-title {
    font-size: 0.875rem !important;
    padding: 0 5px !important;
  }

  .fc-button {
    font-size: 0.875rem !important;
    padding: 5px 8px !important; /* Adjust padding for smaller screens */
  }

  .fc-header-toolbar {
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .fc-toolbar-chunk {
    margin-bottom: 10px !important;
  }

  .fc-view-harness {
    overflow-x: auto !important; /* Allow horizontal scrolling for calendar detail */
    overflow-y: auto !important; /* Allow vertical scrolling for calendar detail */
    width: 100vw !important;
    height: 60vh !important; /* Adjust height for better visibility */
  }
}

@media (max-width: 480px) {
  .fc-toolbar-title {
    font-size: 0.75rem !important;
  }

  .fc-button {
    font-size: 0.75rem !important;
    padding: 4px 6px !important; /* Adjust padding for very small screens */
  }

  .fc-header-toolbar {
    padding: 5px !important; /* Reduce padding for very small screens */
  }

  .fc-view-harness {
    height: 70vh !important; /* Further adjust height for very small screens */
  }
}
