.navbar {
  background-color: #fff;
  color: #fff;
  flex-direction: column; /* Stack links vertically */
  position: fixed; /* Fix the navbar to the viewport */
  left: 0; /* Position at left */
  height: 100vh; /* Make it full viewport height */
  width: 250px; /* Set a fixed width for the navbar */
}

.main-content {
  margin-left: 250px; /* Add margin to main content to avoid overlay */
}
/* ... rest of your CSS remains the same ... */

.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
}

.active p {
  color: #f57c00; /* Use your preferred color */
  background: linear-gradient(180deg, #ffc163 0%, #fd7427 42.5%, #e54a5f 100%);

  font-family: "Kanit";
  font-style: normal;
  font-weight: 500;
  /* identical to box height */

  /* #FD7427 (2 paints) */
  background-color: linear-gradient(
      180deg,
      #ffc163 0%,
      #fd7427 42.5%,
      #e54a5f 100%
    ),
    #fd7427;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.nav-item {
  margin-top: 1.5rem; /* Add some space between links */
}
.nav-bot {
  position: absolute;
  bottom: 0;
}

.nav-item p,
.nav-bot p {
  font-family: "Kanit", sans-serif;
}

.nav-item:hover p {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  color: #f57c00; /* Add hover color */
}

.nav-link {
  color: #000;
  font-size: smaller;
}
